[Unit]
Description=FunkyOS Vault Auto-Mount
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/funky/mount_vault.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
