[Desktop Entry]
Name=Install FunkyOS
GenericName=System Installer
Exec=sudo calamares
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
